// ------- Colors -------

$white-bg: #EDEFF5;
$secondary: #3edf69;

// ------- Sizes -------

$first-background-height: 500px;
$profile-picture-size: 200px;
$linkedin-top-position: 25px;
$linkedin-size: 32px;
$experience-title-top-position: calc(#{$linkedin-top-position} + 60px);
$experience-relative-left-position: 18%;
$experience-absolute-left-position: 50px;
$first-content-height: 800px;