<div class="wrapper">
  <div class="office-background"></div>
  <h1>Hadrien GEORGE</h1>
  <h2>Développeur front-end</h2>
  <div class="profile-picture-container">
    <img class="profile-picture-img" src="../assets/images/square_profile.jpg">
  </div>
  <div class="first-content">
    <a href="https://www.linkedin.com/in/hadrien-george/">
      <svg class="linkedin">
        <use xlink:href="../assets/sprites/sprites.svg#linkedin"></use>
      </svg>
    </a>
    <h3 class="experience-title">
      expérience professionnelle
    </h3>
    <div class="underline"></div>
  </div>
</div>